.nl-form {
  font-size: 50px;
  font-weight: 300;
  color: #ffe8e7;
  outline: none;
  user-select: none;
}

.nl-question div {
  display: inline;
  line-height: 50px;
}

.nl-form .show {
  display: block;
}

.nl-form .hidden {
  display: none;
}

.nl-form .nl-field {
  color: #b14943;
  cursor: pointer;
  border-bottom: 1px dashed #b14943;
  padding-bottom: 2px;
  margin: 0 10px;
  position: relative;
}

.nl-drop-list:after {
  bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 15px;
	margin-left: -15px;
}

.nl-select-item:hover {
  background: rgba(0, 0, 0, 0.1);
}
